name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install build dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Build tests
        run: g++ -std=c++17 -O3 -march=native -DRUN_TESTS -o tests src/tests/tests.cpp

      - name: Run tests
        run: ./tests
